@import '../../../styles/settings/settings.scss';
@import '../../../styles/tools/tools.scss';

.header {
  background-color: color('background', 'tertiary');
  &__container {
    margin: 0 $margin-size;
    padding: calculate-size(15) 0;
    display: flex;
    align-items: center;
    height: inherit;
  }
  
  &__logo {
    width: calculate-size(50);
    margin-right: calculate-size(20);
  }

  span {
    width: 100%;
  }
}